:root {
  --blue: #0290ff;
}

body {
  margin: 0;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-header > h1 {
  color: var(--blue);
}

ul {
  list-style: none;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
